.modal-background {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
}

.modal-body {
    width: 30%;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    /* overflow: scroll; */
    align-self: center;
}

.error-modal {
    background-color: #F44336;
    color: white;
}

.success-modal {
    background-color: #4CAF50;
    color: white;
}