.navbar {
    height: 100px;
    background-color: #FED302;
    margin-bottom: 1rem;
}

.navbar .content {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar .brand {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 1.5rem;
}

.navbar .controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .controls ul li {
    display: inline-block;
}

/* .navbar .controls ul li:first-child {
    background-color: red;
    padding: 0.5rem;
}

.navbar .controls ul li:last-child {
    background-color: red;
} */

.navbar .controls ul li:not(:last-child) {
    /* background-color: blue; */
    margin: 0 0.5rem 0 0;
}

.navbar .controls .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #37474F;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.navbar .controls .nav-link:hover {
    background-color: #FAB609;
}

.navbar .controls .nav-link.active {
    background-color: #FAB609;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1rem;
    margin-left: 0.2rem;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
